.App{
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 50px;
}

.search-form{
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.search-bar{
  width: 50%;
  border: none;
  outline: none;
  border-radius: 32px;
  padding: 10px 20px;
}

.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 32px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}